# junk
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Application uploads
upload/

# Logs
*.log
logs/

# Docker and Container data
deployment/mysql-data/
deployment/mysql/
deployment/tmp/
deployment/logs/

# Terraform state 
**/.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
*.auto.tfvars

# Environment variables
.env
.env.local
.env.*.local

# System keys
*.pem
*.ppk
*.crt
*.key

# Backups and temp files
*.bak
*.tmp
temp/
cache/



